/*===== VARIABLES CSS and FEATURERS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;
  /*========== Typography ==========*/
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem; }

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b; }

/*========== Font size variables to scale CV ==========*/
body.scale-cv {
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem; }

/*========== Font ==========*/
/*========== Font weight ==========*/
/*========== Margenes ==========*/
/*========== z index ==========*/
/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer; }
  .change-theme:hover {
    color: var(--title-color); }

/*========== Generate PDF button ==========*/
.generate-pdf {
  display: none !important;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.3rem;
  color: var(--text-color);
  cursor: pointer; }
  .generate-pdf:hover {
    color: var(--title-color); }

/*========== BASE ==========*/
/*========== BASE ==========*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none !important; }

.scale-cv .bd-container {
  max-width: 695px;
  margin: 0 auto; }

.scale-cv .section {
  padding: 1.5rem 0 .80rem; }

.scale-cv .section-title {
  margin-bottom: .75rem; }

.scale-cv .resume__left,
.scale-cv .resume__right {
  padding: 0 1rem; }

.scale-cv .home__img {
  width: 90px !important;
  height: 90px !important;
  margin: 0 !important; }

.scale-cv .home__container {
  gap: 1.5rem; }

.scale-cv .home__data {
  gap: .25rem; }

.scale-cv .home__address,
.scale-cv .social__container {
  gap: 0.75rem !important; }

.scale-cv .social__container {
  padding: 0.35rem 0 !important; }

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
  font-size: 1rem !important; }

.scale-cv .education__container,
.scale-cv .experiance__container,
.scale-cv .certificate__container {
  gap: 0.5rem !important;
  padding: 0.25rem 1rem !important; }

.scale-cv .interests {
  gap: 0.5rem !important;
  padding: 0px;
  margin-bottom: 10px; }

.scale-cv .references__content {
  padding: 0 !important; }

.scale-cv .education__time,
.scale-cv .experiance__time {
  padding-right: 0.5rem !important; }

.scale-cv .education__rounder,
.scale-cv .experiance__rounder {
  width: 13px !important;
  height: 13px !important;
  margin-top: 0.22rem !important; }

.scale-cv .education__line,
.scale-cv .experiance__line {
  width: 1px !important;
  height: 100% !important; }

.scale-cv .education__data,
.scale-cv .experiance__date {
  gap: 0.25rem !important; }

.scale-cv .skills__name {
  margin-bottom: var(--mb-1) !important; }

.scale-cv .interests__container {
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem; }

.scale-cv .skills__content {
  margin-top: 0px; }

.scale-cv .social__container {
  margin: 0; }

body {
  margin: 0 0 3rem 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color); }

h1, h2, h3, ul, p {
  margin: 0; }

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 500; }

ul {
  padding: 0;
  list-style: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/*========== CLASS CSS ==========*/
.section {
  padding: 1.5rem 0; }

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: 1.5rem; }

/*========== LAYOUT ==========*/
/*========== LAYOUT ==========*/
.bg-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.bg-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  padding: 0 1rem; }

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s; }

/*========== NAV ==========*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  background-color: var(--body-color);
  /* Show Menu */
  /* Active Menu Link*/ }
  @media (max-width: 968px) {
    .nav .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      padding: 2rem 1.5rem;
      background-color: var(--body-color);
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      border-radius: 1rem 1rem 0 0;
      z-index: 100;
      -webkit-transition: .3s;
      transition: .3s; } }
  .nav .nav__logo,
  .nav .nav__toggle {
    color: var(--text-color);
    font-weight: 500; }
  .nav .nav__toggle {
    font-size: 1.2rem;
    cursor: pointer; }
  .nav .nav__item {
    text-align: center; }
  .nav .nav__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem; }
  .nav .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: 500; }
    .nav .nav__link:hover {
      color: var(--text-color); }
  .nav .nav__icon {
    font-size: 1.2rem;
    margin-bottom: 0.5rem; }
  .nav .show-menu {
    bottom: 3rem; }
  .nav .active-link {
    color: var(--text-color); }

/*========== SECTION ==========*/
/*========== HOME ==========*/
.home {
  position: relative; }
  .home__container {
    gap: 3rem; }
  .home__data {
    gap: .5rem;
    text-align: center; }
  .home__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem; }
  .home__title {
    font-size: var(--h1-font-size); }
  .home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: 0.5rem; }
  .home__button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 500;
    margin-top: 1.5rem; }
    .home__button-movil:hover {
      background-color: var(--text-color);
      color: var(--container-color); }
  .home__address {
    gap: 1rem; }
  .home__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: var(--small-font-size); }
  .home__icon {
    font-size: 1.2rem;
    margin-right: .25rem; }

/*========== SOCIAL ==========*/
.social__container {
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  gap: 1rem;
  margin-bottom: 1rem; }
  .social__container .social__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color); }
    .social__container .social__link:hover {
      color: var(--title-color); }
    .social__container .social__link .social__icon {
      font-size: 1.2rem;
      margin-right: .25rem;
      margin-left: 1rem; }

/*========== PROFILE ==========*/
.profile__description {
  text-align: center;
  padding: .25rem 1.25rem;
  color: var(--text-color); }

/*========== EDUCATION ==========*/
/*========== EXPERIENCE ==========*/
.education__content,
.experiance__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .education__content .education__time,
  .education__content .experiance__time,
  .experiance__content .education__time,
  .experiance__content .experiance__time {
    padding-left: 1rem; }
    .education__content .education__time .education__rounder,
    .education__content .education__time .experiance__rounder,
    .education__content .experiance__time .education__rounder,
    .education__content .experiance__time .experiance__rounder,
    .experiance__content .education__time .education__rounder,
    .experiance__content .education__time .experiance__rounder,
    .experiance__content .experiance__time .education__rounder,
    .experiance__content .experiance__time .experiance__rounder {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      background-color: var(--text-color-light);
      border-radius: 50%;
      margin-top: .55rem; }
    .education__content .education__time .education__line,
    .education__content .education__time .experiance__line,
    .education__content .experiance__time .education__line,
    .education__content .experiance__time .experiance__line,
    .experiance__content .education__time .education__line,
    .experiance__content .education__time .experiance__line,
    .experiance__content .experiance__time .education__line,
    .experiance__content .experiance__time .experiance__line {
      display: block;
      width: 2px;
      height: 110%;
      background-color: var(--text-color-light);
      -webkit-transform: translate(7px, 0);
              transform: translate(7px, 0); }
  .education__content .education__data,
  .education__content .experiance__date,
  .experiance__content .education__data,
  .experiance__content .experiance__date {
    gap: .5rem;
    color: var(--title-color); }
    .education__content .education__data .education__title,
    .education__content .education__data .experiance__titile,
    .education__content .experiance__date .education__title,
    .education__content .experiance__date .experiance__titile,
    .experiance__content .education__data .education__title,
    .experiance__content .education__data .experiance__titile,
    .experiance__content .experiance__date .education__title,
    .experiance__content .experiance__date .experiance__titile {
      font-size: var(--h3-font-size); }
    .education__content .education__data .education__studies,
    .education__content .education__data .experiance__company,
    .education__content .experiance__date .education__studies,
    .education__content .experiance__date .experiance__company,
    .experiance__content .education__data .education__studies,
    .experiance__content .education__data .experiance__company,
    .experiance__content .experiance__date .education__studies,
    .experiance__content .experiance__date .experiance__company {
      font-size: var(--small-font-size);
      color: var(--title-color); }
    .education__content .education__data .education__year,
    .education__content .education__data .experiance__descrription,
    .education__content .experiance__date .education__year,
    .education__content .experiance__date .experiance__descrription,
    .experiance__content .education__data .education__year,
    .experiance__content .education__data .experiance__descrription,
    .experiance__content .experiance__date .education__year,
    .experiance__content .experiance__date .experiance__descrription {
      font-size: var(--smaller-font-size); }

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: .25rem 2rem; }
  .skills__content .skills__data .skills__name,
  .languages__content .skills__data .skills__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
    color: var(--text-color); }
    .skills__content .skills__data .skills__name .skills__circle,
    .languages__content .skills__data .skills__name .skills__circle {
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: var(--text-color);
      border-radius: 50%;
      margin-right: .75rem; }

.languages__content {
  gap: 0rem; }
  .languages__content .languages__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
    color: var(--text-color); }
    .languages__content .languages__name .languages__circle {
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: var(--text-color);
      border-radius: 50%;
      margin-right: .75rem; }

/*========== CERTIFICATES ==========*/
.certificate__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
  color: var(--title-color); }

.certificate__description {
  color: var(--title-color); }

/*========== REFERENCES ==========*/
.references__content {
  gap: .25rem; }
  .references__content .references__subtitle {
    color: var(--text-color-light); }
  .references__content .references__subtitle,
  .references__content .references__contact {
    font-size: var(--smaller-font-size);
    color: var(--text-color); }
  .references__content .references__title {
    font-size: var(--h3-font-size); }

/*========== INTERESTS and SCROLL ==========*/
.interests__container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem; }
  .interests__container .interests__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .interests__container .interests__content .interests__icon {
      font-size: 1.5rem;
      color: var(--text-color-light);
      margin-bottom: .25rem; }
    .interests__container .interests__content .interests__name {
      color: var(--text-color); }

/* ======= Scroll Top ======= */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .5rem;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden; }
  .scrolltop .scrolltop__icon {
    font-size: 1.5rem;
    color: var(--text-color); }

/* Scroll top */
.show-scroll {
  visibility: visible;
  bottom: 5rem; }

/*========== MEDIA QUERIES ==========*/
/*========== MEDIA QUERIES ==========*/
/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0; }
  .bg-container {
    margin-left: auto;
    margin-right: auto; }
  .l-header,
  .scrolltop {
    display: none; }
  .resume {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    -webkit-box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
            box-shadow: 0 0 8px rgba(13, 12, 12, 0.15); }
  .resume__left {
    background-color: var(--container-color-alt); }
  .resume__left,
  .resume__right {
    padding: 0 1.5rem; }
  .section-title {
    padding: 0 1rem; }
  .section-title,
  .profile__description {
    text-align: initial; }
  .home_container {
    gap: 1.5rem; }
  .home__button-movil {
    display: none !important; }
  .references__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); }
  .languages__content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem; }
  .interests__container {
    -ms-grid-columns: (max-content)[4];
        grid-template-columns: repeat(4, -webkit-max-content);
        grid-template-columns: repeat(4, max-content);
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem; }
  .generate-pdf {
    display: inline-block !important; } }

/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem; } }

@media screen and (min-width: 1440px) {
  body {
    margin: 3rem 10rem; } }
