/*========== NAV ==========*/
.nav{
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);

    @media (max-width:968px) {
        .nav__menu{
            position: fixed;
            bottom: -100%;  //$header-height;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem;
            background-color: var(--body-color);
            box-shadow: 0 1px 4px rgba(0,0,0, .4);
            border-radius: 1rem 1rem 0 0;
            z-index: $z-fixed;
            transition: .3s;
        }
    }
    .nav__logo, 
    .nav__toggle{
        color: var(--text-color);
        font-weight: $font-medium;
    }
    .nav__toggle{
        font-size: 1.2rem;
        cursor: pointer;
    }
    .nav__item{
        text-align: center;
    }
    .nav__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .nav__link{
        display: flex;
        flex-direction:column;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
        font-weight: $font-medium;

        &:hover{
            color: var(--text-color);
        }
    }
    .nav__icon{
        font-size: 1.2rem;
        margin-bottom: $mb-1;
    }
    /* Show Menu */
    .show-menu{
        bottom: $header-height;
    }
    /* Active Menu Link*/
    .active-link{
        color: var(--text-color);
    }
}