/*========== MEDIA QUERIES ==========*/


/* Classes modified for large screen size */
@media screen and (min-width:$lg) {
    body{
        margin: 3rem 0;
    }

    .bg-container{
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrolltop{
        display: none;
    }

    .resume{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13,12,12,.15);
    }
    .resume__left{
        background-color: var(--container-color-alt);
    }
    .resume__left,
    .resume__right{
        padding: 0 1.5rem;
    }
    
    .section-title{
        padding: 0 1rem;
    }
    .section-title,
    .profile__description{
        text-align: initial;
    }

    .home_container{
        gap: 1.5rem;
    }
    .home__button-movil{
        display: none !important;
    }
    .references__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .languages__content{
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
    .interests__container{
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }
    .generate-pdf{
        display: inline-block!important;
    }
}
/* For small devices, menu two columns */
@media screen and (max-width: $esm) {
    .nav__list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}
@media screen and (min-width:$xl){
    body{
        margin: 3rem 10rem;
    }
}