    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    
    $header-height: 3rem;
    
    :root {
        /*========== Colors ==========*/
            --title-color: #0B0A0A;
            --text-color: #403A3A;
            --text-color-light: #707070;
            --container-color: #FAFAFA;
            --container-color-alt: #F0EFEF;
            --body-color: #FCFCFC;

            /*========== Typography ==========*/
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: .938rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }

    /*========== Variables Dark theme ==========*/
    body.dark-theme{
        --title-color: #f2f2f2;
        --text-color: #bfbfbf;
        --container-color: #212121;
        --container-color-alt: #181616;
        --body-color: #2b2b2b;
    }

    /*========== Font size variables to scale CV ==========*/
    body.scale-cv{
        --h1-font-size: .938rem;
        --h2-font-size: .938rem;
        --h3-font-size: .875rem;
        --normal-font-size: .813rem;
        --small-font-size: .75rem;
        --smaller-font-size: .688rem;
    }
    
    /*========== Font ==========*/
    $body-font: 'Poppins', sans-serif;

    /*========== Font weight ==========*/
    $font-medium: 500;
    $font-semi-bold: 600;

    /*========== Margenes ==========*/
    $mb-1: .5rem;
    $mb-2: 1rem;
    $mb-3: 1.5rem;

    /*========== z index ==========*/
    $z-tooltip: 10;
    $z-fixed: 100;

    // Breakpoints
    $xl: 1440px;
    $lg: 968px;
    $md: 768px;
    $sm: 575px;
    $esm: 320px;

    @media screen and (max-width:$md) {
        
    }
    