/*========== INTERESTS and SCROLL ==========*/
.interests__container{
    grid-template-columns: repeat(3, 1fr);
    margin-top: $mb-2;

    .interests__content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .interests__icon{
            font-size: 1.5rem;
            color: var(--text-color-light);
            margin-bottom: .25rem;
        }
        .interests__name{
            color: var(--text-color);
        }
    }
}
/* ======= Scroll Top ======= */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .5rem;
    z-index: $z-tooltip;
    transition: .5s;
    visibility: hidden;

    .scrolltop__icon{
        font-size: 1.5rem;
        color: var(--text-color);
    }
}
/* Scroll top */
.show-scroll{
    visibility: visible;
    bottom: 5rem;
}