/*========== SOCIAL ==========*/
.social__container{
    grid-template-columns: max-content;
    gap: 1rem;
    margin-bottom: $mb-2;

    .social__link{
        display: inline-flex;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--text-color);
        
        &:hover{
            color: var(--title-color);
        }
        .social__icon{
            font-size: 1.2rem;
            margin-right: .25rem;
            margin-left: 1rem;
        }   
    }
}