/*========== CERTIFICATES ==========*/
.certificate__title{
    font-size: var(--h3-font-size);
    margin-bottom: $mb-1;
    color: var(--title-color);
}
.certificate__description{
    color: var(--title-color);
}